

<form action='#' method='POST'>
	<div class="form-floating mb-3">
	<center>
	  <input type="email" class="form-control" id="floatingInput" placeholder="Username">
	  <!-- <label for="floatingInput">Email address</label> -->
	</center>
	</div>
	<div class="form-floating">
	<center>
	  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
	  <!-- <label for="floatingPassword">Password</label> -->
	</center>
	</div>
	<center>
		<button type="button" id="submit-button" class="btn btn-secondary btn-lg" >LogIn</button>
	</center>
</form>
