

<form action='/eval-user' method='POST'>
	<div class="form-floating mb-3">
	<center>
	  <input type="text" class="form-control" id="floatingInput" placeholder="Username" name=identity>
	  <!-- <label for="floatingInput">Email address</label> -->
	</center>
	</div>
	<div class="form-floating">
	<center>
	  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
	  <!-- <label for="floatingPassword">Password</label> -->
	</center>
	</div>
	<center>
		<input type="submit" value="Login" id="submit-button" class="btn btn-secondary btn-lg" >
	</center>
</form>
