<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet"  href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="app.css">
	<script  src="/js/boostrap.min.js"></script>
	<script src="/js/jquery.js"></script>
</head>