<h1 class="st-signup-head">Sign Up</h1>
	<form action='/create-admin-table' method='post' >
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Name</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name='ad_name'>
			</div>
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Emp-ID</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name='ad_id'>
			</div>
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Designation</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name='ad_des'>
			</div>
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Phone Number</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name='ad_no'>
			</div>
			<!-- <div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Email</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div> -->
			<div class="checkbox">
  				<label>
    				<input type="checkbox" data-toggle="toggle" name='isMessEmployee' value=1>
    				Are you a Mess Employee ?
  				</label>
			</div>
			<div>
				<input type="submit" value="Signup" id="second-button" class="btn btn-secondary btn-lg" >
			</div>
	</form>