<h1 class="st-signup-head">Sign Up</h1>
	<form action='/create-admin-table' method='post' >
		<div class='st-detail'>
			<input class='form-control su-in aname' placeholder='Enter your name' name='ad_name'>
			<input class='form-control su-in aid' placeholder='Enter your employee ID' name='ad_id'>
			<input class='form-control su-in ades' placeholder='Enter your designation' name='ad_des'>
			<input class='form-control su-in ano' placeholder='Enter your contact number' name='ad_no'>
			<div class="checkbox">
				<label>
				<input type="checkbox" data-toggle="toggle" name='isMessEmployee' value=1>
				Are you a Mess Employee ?
				</label>
		</div>
		<div class="st-auth">
			<h6><em>Admin Login Details</em></h6>
			<input class='form-control su-in stauth' type ="text" placeholder="Enter your username " name="ausername">
			<input class='form-control su-in stauth' type ="password" placeholder="Enter your password " name="apassword">
			<input class='form-control su-in stauth' type ="password" placeholder="Re-enter your password " name="arepassword">
			<input type="submit" value="Signin" class="btn btn-secondary btn-lg" id="st-sign-btn">	
		</div>
		
	</form>