<h1 class="st-signup-head">Sign Up</h1>
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Name</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div>
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Emp-ID</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div>
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Designation</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div>
			<div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Phone Number</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div>
			<!-- <div class="input-group input-group-lg">
		  		<span class="input-group-text su-in" id="inputGroup-sizing-lg">Email</span>
		  		<input  type="text" class="form-control su-in" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div> -->
			<div>
				<button type="button" id="second-button" class="btn btn-secondary btn-lg" >Signup</button>
			</div>