<%- include('partials/head') %>

<body>
    <center>
        <div>
            <form action="/postMessForm" method="post">
                <input type='text' class='form-control su-in Adusn' placeholder='enter the usn' name='amf_usn'>
                <input type='submit' class='btn btn-secondary btn-lg' value="submit">
            </form>
        </div>
    <center>

    
</body>
<%- include('partials/footer') %>