<%- include('partials/head') %>

<body>
    <center>
    <h1> Uploaded Image</h1>
    <div>
        <img src="/uploads/<%=items[0].img%>" height="400px" width="500px">
    </div>
    </center>
</body>

<%- include('partials/footer') %>

<!-- items[0].img.contentType -->