<%- include('partials/head') %>

<body>
    <center>
        <form action='/ad-receit-post' method='post'>
            <input type='text' placeholder="enter usn" class='form-control su-in' name='adimg_usn'>
            <input type='submit' value='submit' class='btn-secondary'>
            
        </form>
    </center>
</body>

<%- include('partials/footer') %>