<%- include('partials/head') %>

<body>
    <center>
        <div>
            <form action = "/postRoom" method='post'>
                <input type='text' class='form-control su-in' placeholder='enter room no' name='adr_room'>
                <input type='submit' value='check vacancy' class='btn btn-secondary btn-lg'>
            </form>
           
        </div> 
    </center>
    
</body>

<%- include('partials/footer') %>

