<%- include('partials/head') %>

<body>
	
	<%- include('partials/navbar') %>
	
<center>
	<div class='form-student'>
		
		<h1 class='heading'> Sign In (Student) </h1>
		
		<%- include('partials/forms') %>
	</div>
	<div class='new-user-heading'>
		<label >New user?</label>
		<a href="/student-sign-up">Click here to create an account</a>
	</div>
</center>
</body>

<%- include('partials/footer') %>