<%- include('partials/head') %>

<body>
    <center>
        <div>
            <form action = '/payment-receit-post' method='post' enctype='multipart/form-data'>
                <input type='text' class='form-control su-in' name='img_usn' placeholder='enter your usn'>
                <input type='file' placeholder="select your image" name='image'>
                <input type='submit' value='Submit' class='btn-secondary'>
            </form>
        </div>
    </center>
</body>

<%- include('partials/head') %>
