<%- include('partials/head') %>

<body>
	<%- include('partials/navbar') %>
	<center>
		<div class="signup-form">
			<%- include('partials/signupform') %>
		</div>
	</center>
</body>
<%- include('partials/footer') %>