<%- include('partials/head') %>

<body>
	<%- include('partials/navbar') %>
	<center>
		<div>
			<form action="/create-fee-table" method="post">
				<input type="text" placeholder="Student Id" name='st_id'>
				<input type="text" placeholder="Hostel Fee" name='fee_hostel'>
				<input type="text" placeholder="Mess Fee" name='fee_mess'>
				<input type="text" placeholder="Hostel Fine" name='fine'>
				<input type="submit" value="set fee">
			</form>
		</div>

		<div>
			<form action="/update-fee-table" method="post">
				<input type="text" placeholder="Student Id" name='st_id1'>
				<input type="text" placeholder="Hostel Fee" name='fee_hostel1'>
				<input type="text" placeholder="Mess Fee" name='fee_mess1'>
				<input type="text" placeholder="Hostel Fine" name='fine1'>
				<input type="submit" value="update fee">
			</form>
		</div>
	</center>

</body>

<%- include('partials/footer') %>