<%- include('partials/head') %>

<body>
	<%- include('partials/navbar') %>

	<form action="/create-fee-table" method="post">
		<input type="text" placeholder="Student Id" name='st_id'>
		<input type="text" placeholder="Hostel Fee" name='fee_hostel'>
		<input type="text" placeholder="Mess Fee" name='fee_mess'>
		<input type="text" placeholder="Hostel Fine" name='fine'>
		<input type="submit" value="submit">
	</form>
</body>

<%- include('partials/footer') %>