.heading{
	font-weight: 900;
	text-align: center;
	/*font-style: italic;*/

}

.form-control{
	width: 500px;

}
.form-student{
	width:600px;
	height: 400px;
	margin-top:150px;
	/*border: thick double #151569;*/
	padding-top: 50px;
	background: #e3e3e3;
	
}
.nav-bar{
	background-color: blue;
}
.new-user-heading{
	margin-top: 70px;
	height: 100px;
	width: 600px;
	background: #e3e3e3;
	padding-top: 30px
}
#submit-button{
	padding : 10px 10px 10px 10px;
	margin-top: 20px;
	width: 500px;
}
#nav-bar{
	background: blue;
}

/*Signup-page*/

.st-signup-head{
	text-align: center;
	font-weight: 900;
	/*font-style: italic;*/
}

.input-group-text.su-in{
	margin-top: 20px;
	width:200px;
}

.form-control.su-in{
	margin-top: 20px;
	
}

.signup-form{
	padding: 70px 20px 20px 20px;
	width:700px;
	height: 700px;
	background: #e3e3e3;
	margin-top: 100px;
}

.st-db-head{
	height: 200px;
	background: #e3e3e3; ;
}
.st-db-head1{
	font-weight: 900;
	font-size: 48;
}
.st-db-head2{
	font-size: 18;
}
/* Student Signup form */

.form-control.su-in.usn{
	margin-top: 10px;
	display: inline;
	width: 250px;

}
.form-control.su-in.cgpa{
	margin-top: 10px;
	display: inline;
	width: 250px;
}
.form-control.su-in.name{
	/* display: inline; */
	/* width: 250px; */
	margin-top: 10px;

}
.form-control.su-in.branch{
	margin-top: 10px;

}
.form-control.su-in.mail{
	margin-top: 10px;

}
.form-control.su-in.stauth{
	margin-top: 10px;
}

.st-auth{
	
	margin-top: 40px;
	background-color: #e6e6e6;
	justify-content: center;	
	height: 300px;
}
.st-detail{
	margin-top: 40px;
}

#st-sign-btn{
	margin-top: 10px;
	width: 500px;
}

/* Admin signup */

.form-control.su-in.aname{
	margin-top: 10px;

}
.form-control.su-in.aid{
	margin-top: 10px;
	display: inline;
	width: 250px;

}
.form-control.su-in.ades{
	margin-top: 10px;
	display: inline;
	width: 250px;

}
.form-control.su-in.ano{
	margin-top: 10px;

}

/* Admin Poll */

.ad-poll{
	width: 600px;
	height: 400px;
	background-color: #e3e3e3;
	margin-top: 100px;
	align-self: center;
}

/* Poll-Student-Side */

.stPoll{
	margin-top: 200px;
	width: 600px;
	height: 400px;
	background-color: #e3e3e3;
}

.stPollhide{
	display: none;
}

.pbtn{
	margin-top: 10px;
	width: 500px;
	
}
#pol{
	display: inline;
	background-color: beige;
	font-size: 1.5em;
	border: solid;
	
}
.form-control.su-in.op{
	width: 250px;
	display: inline;
}
.presHide{
	display: none;
}
.get-poll{
	margin-top: 100px;
	width: 600px;
	background-color: #e3e3e3;
	
}

/* //Student Payment */

.st-payment{
	margin-top: 70px;
	width: 500px;
	height: 200px;
	background-color: #e3e3e3;
	
}
.st-py-el{

	margin-top: 70px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
  }

.py-table{

	margin-top: 200px;
	width: 90%;
	height: 200px;
	background-color: #e3e3e3;
}


body{
	background: #e6e6e6;
}