.heading{
	font-weight: 900;
	text-align: center;
	/*font-style: italic;*/

}

.form-control{
	width: 500px;

}
.form-student{
	width:600px;
	height: 400px;
	margin-top:150px;
	/*border: thick double #151569;*/
	padding-top: 50px;
	background: #e3e3e3;
	
}
.nav-bar{
	background-color: blue;
}
.new-user-heading{
	margin-top: 70px;
	height: 100px;
	width: 600px;
	background: #e3e3e3;
	padding-top: 30px
}
#submit-button{
	padding : 10px 10px 10px 10px;
	margin-top: 20px;
	width: 500px;
}
#nav-bar{
	background: blue;
}

/*Signup-page*/

.st-signup-head{
	text-align: center;
	font-weight: 900;
	/*font-style: italic;*/
}

.input-group-text.su-in{
	margin-top: 20px;
	width:200px;
}

.form-control.su-in{
	margin-top: 20px;
	
}

.signup-form{
	padding: 70px 20px 20px 20px;
	width:700px;
	height: 700px;
	background: #e3e3e3;
	margin-top: 100px;
}

#second-button{
	margin-top: 20px;
	width: 660px;
}

body{
	background: #6e6e6e;
}